* {
    color: white !important;
}

h1 {
    padding-bottom: 10%;
}

.navbar .navbar-toggler-icon {
    background-image: url("caerus/icon.png") !important;
}

#navbar {
    position: fixed !important;
    z-index: 10;
}

.navbarbg {
    background-color: rgb(15, 15, 15);
    opacity: 1;
    z-index: 3;
    transition: 1s ease-in-out !important;
    padding-bottom: 20px;
}

#s1 {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: table;
    position: relative;
    overflow: hidden;
}

video {
    position: fixed;
    z-index: 0;
    min-height: 110vh !important;
    max-height: 110vh !important;
    filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
    filter: blur(5px);    
    margin-left: -50%;
    transform: scale(1.1);    
}

#s1_text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 1;     
}

#s2 {
    height: 100vh;
    position: relative;
    display: table;
    background-color:rgba(0,0,0,0.2);
    opacity: 0;
    overflow: hidden;
}

#s2_text {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    padding: 10%;
    font-size: 18px;
    overflow: hidden;
}

#s3 {
    height: 3000px;
    width: 100%;
    position: relative;
    top: 0;
    display: table;
    opacity: 0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    background-color:rgba(0,0,0,0.6);
}

.col-lg-4 {
    padding-bottom: 0px;
    padding-left: 3%;
    padding-right: 3%;
}

.col-lg-12 {
    padding-top: 60px;
}

.feature-item {
    border-top-style: solid;
    border-color: white;
    padding-top: 20%;
    padding-bottom: 10%;
    width: 100%;
    height: 100% !important;
}

.linkedInPic {
    width: 100% !important;
    padding-bottom: 10%;
}

.linkedInPic img {
    width: 100%;
    height: 100%;
}

#logo {
    width: 100%;
}


